body {
  background-image: url("../images/background_img.jpg");
  background-repeat: repeat;

}

.jumbotron {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #c76a2c;
    color: black;
    height:120px;
}
 
h1 {
    margin-top: -60px;
    margin-left: 20px;
} 

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 400px 10px 20px;
    padding: 10px;
    float: left;
    background-color: #d1ba9e;
    width: 40%;
    height: 20%;
    
}

 #two {
    color: #021809;
    width: 20%;
}

#header {
    font-size: 16px;
}
p {
    font-size: 16px;
}

/* .card-body {
    height:100px; */
    /* background-color: #09a03c; */
    
/* } 
.target-score {
    background-color: #09a03c;
    
}
.win-count {
    background-color: #09a03c;
    

}


